  .wrap {
    width: 50vw;
    box-sizing: border-box;
    line-height: 1.65;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media screen and (max-width: 800px) {
    .wrap {
      width: 75vw;
    }
  }
  .wrap p {
    margin: 0 0 20px;
    font-size: 25px;
  }
  .wrap p:last-child {
    margin: 0;
  }
  .wrap p a {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #EC407A;
  }
  .wrap p a::after {
    content: "";
    background: rgba(236, 64, 122, 0.25);
    position: absolute;
    left: 12px;
    bottom: -6px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    z-index: -1;
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  }
  .wrap p a:hover:after {
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 100%;
  }

  
  body {
    background: #ECEFF1;
    font-family: "Consolas";
    color: #2a2a2a;
  }
  
html, body {
  width: 100%;
  height:100%;
  overflow: hidden;
}


body {
    background: linear-gradient(-45deg, #EC407A, #EC407A, #000000, #000000);
    background-size: 400% 400%;
    animation: gradient 5s ease;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
   
}
 
 .sidenav {
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}


.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidenav a:hover {
  color: #EC407A;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


#main {
  transition: margin-left .5s;
  padding: 20px;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 800px) {
  .menu {
    width: 75vw;
  }
}
.menu  {
  margin: 0 0 20px;
  font-size: 25px;
}
.menu:last-child {
  margin: 0;
}
.menu  a {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #EC407A;
}
.menu  a::after {
  content: "";
  background: rgba(236, 64, 122, 0.25);
  position: absolute;
  left: 12px;
  bottom: -6px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  z-index: -1;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}
.menu  a:hover:after {
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 100%;
}

/* .container{
  width: 100vw;
  height: 100vh;
}

.content-wrapper{
 width: 100vw;
 white-space: nowrap;
}

.section{
 width: 100vw;
 height: 100vh;
 display: inline-block;
 position: relative;
}

.section div {
   font-size: 100px;
   color: aliceblue;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translateX(-50%) translateY(-50);
}

.container {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;

}

.section {
  min-width: 100%;
  height: auto;
  display: flex;
}

.section .storyBx {
  margin: 0 0 20px;
  padding: 0;
  font-size: 48px;
  
} */
 








 


